.game-card {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.41);

    overflow: hidden;

    &:hover {
        filter: brightness(0.8);
    }

    .top {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;

        padding: 1rem;
        gap: 1rem;

        font-weight: 500;



        .platforms {
            img {
                width: 1rem;
                aspect-ratio: 1/1;
            }
        }

        .genres {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .stores {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        .icon-info {
            display: flex;
            gap: 1rem;

            * {
                display: flex;
                gap: 0.3rem;

                img {
                    width: 1.2rem;
                }
            }
        }
    }
}